<div class ="creditos">
<h1 class="text-center my-4">Pedro Garcia</h1>
<img class = "creditosimg" src ="https://recursos.ort.edu.ar/static/archivos/usuarioperfil/92720">

<h1 class="text-center my-4">Santiago Varela</h1>
<img class = "creditosimg" src ="https://recursos.ort.edu.ar/static/archivos/usuarioperfil/90500">
</div>