               <h1 class = "deporte">Deportes</h1>

<div class="deportes-cards">
    <div class="container mt-5 pt-5 deportes-container">
        <div class="row">
            @foreach (Deporte deporte in ViewBag.Deportes)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100 deporte-card">
                        <img src="@deporte.Foto" class="card-img-top deporte-img" alt="@deporte.Nombre" />
                        <div class="card-body deporte-info">
                            <h5 class="card-title deporte-title">@deporte.Nombre</h5>
                        </div>
                    <a href='@Url.Action("VerDetalleDeporte", new{idDeporte = deporte.IdDeporte})' class="btn btn-primary"> Ver detalle </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>