
<div class="historia">

               <h1 class = "titulo">JJOO Paris 2024</h1>
        <img class = "jjoohistoria" src="~/img/jjoohistoria.png" />

                <h2>Historia</h2>

                
                <p class = "descripcion3">Los Juegos Olímpicos tienen sus raíces en la antigua Grecia, donde se celebraron por primera vez en 776 a.C. en la ciudad de Olimpia. Estos juegos eran un homenaje a Zeus y formaban parte de un festival religioso que incluía competiciones deportivas como carreras, lucha, boxeo y pentatlón. Los eventos no solo promovían la excelencia atlética, sino también la unidad entre las ciudades-estado griegas, que cesaban sus conflictos para participar.

Con el tiempo, los Juegos Olímpicos cayeron en desuso tras la expansión del Imperio Romano y la adopción del cristianismo. En el año 393 d.C., el emperador Teodosio I prohibió los juegos debido a su carácter pagano.

El resurgimiento de los Juegos Olímpicos modernos comenzó en el siglo XIX, impulsado por Pierre de Coubertin, un educador francés que buscaba revitalizar el espíritu olímpico. En 1896, los primeros Juegos Olímpicos modernos se celebraron en Atenas, Grecia, marcando el inicio de una nueva era para el evento.

Hoy en día, los Juegos Olímpicos se celebran cada cuatro años, alternando entre los Juegos Olímpicos de Verano e Invierno. Son una plataforma global que celebra el deporte, la paz y la unidad internacional, reuniendo a atletas de todo el mundo y atrayendo a una audiencia global entusiasta.</p>
</div>