@{
    ViewData["Title"] = "Index";
}

<div>

        <img class = "banner" src="~/img/banner.jpg" />

</div>

<div>

               <h1 class = "titulo">JJOO Paris 2024</h1>

                <h2>Descripción General</h2>

                
                <p class = "descripcion3">En nuestro sitio web, podrás encontrar información detallada sobre los Juegos Olímpicos, incluyendo la historia, 
                los deportes en competencia, los países que participan y los atletas destacados. 
                Navega por nuestras secciones para obtener una visión completa de este evento global que une a atletas y aficionados de todo el mundo.</p>
</div>