html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.imglogo{
  width: 10%;
}

.container-fluid img
{ 
 width: 8%;
}
.nav-item{
  
}

.banner{
  width: 100%;
}
header {
  position: fixed;
  
  width: 100%;
  background-color: #f8f9fa; 
  z-index: 1;
}

.titulo{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.descripcion{
  font-size: x-large;
}


.deportes-cards{
  margin-top: 6%;
}
.pais-card{
  margin-top: 8%;
}
.historia{
  margin-top: 8%;
}
.jjoohistoria {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  width: 60%;
}
.form{
  margin-top: 8%;

}
.deporte{
  margin-top: 8%;
  text-align: center;
}